[package]
name = "clipboard-win"
version = "3.0.0-alpha.1"
authors = ["Douman <douman@gmx.se>"]
description = "Provides simple way to interact with Windows clipboard."
license = "MIT"

keywords = ["Windows", "winapi", "clipboard"]
categories = ["clipboard"]

repository = "https://github.com/DoumanAsh/clipboard-win"
documentation = "https://docs.rs/crate/clipboard-win"

readme = "README.md"
edition = "2018"

[package.metadata.docs.rs]
default-target = "x86_64-pc-windows-msvc"

[badges]
appveyor = { repository = "DoumanAsh/clipboard-win"}

[target.'cfg(windows)'.dependencies.winapi]
version = "0.3"
default-features = false
features = [
    "std",
    "basetsd",
    "shellapi",
    "winbase",
    "winuser",
    "stringapiset",
]

[lib]
name = "clipboard_win"
path = "src/lib.rs"
test = false
